<div class="container text-center">
  <div class="row mt-8rem">
    <div class="col">
      <img class="rounded img-fluid shadow bg-black" src="../../assets/img/portadaEcommerce.jpg" alt="EcommerceImagen">
      </div>
      <div class="col-5">
        <div class="mb-5">
          <h2 class="text-center">Inicio de sesíon</h2> 
        </div>
       <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
         <div *ngIf="showErrorMessage" class="message-error-auth">
           <div class="alert alert-danger margin-izquierda">
             Usuario o contraseña incorrectas, Por favor, inténtelo  de nuevo.
           </div>
         </div>         
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mr-20rem estilos-font-awesome">Username</label>
            <input type="email" class="form-control w-75 ml-5rem" formControlName="username" name="username" placeholder="julian"
            [ngClass]="{
              'is-invalid border border-danger' : myForm.controls['username'].touched && myForm.controls['username'].invalid
            }">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Campo requerido',
              control: myForm.controls['username']
          }" 
            ></ng-container>
          </div>
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label mr-20rem estilos-font-awesome">Password</label>
              <ng-container>
                <div class="d-flex justify-conten-center align-items-center">
                  <input type="{{passwordFieldType}}" class="form-control w-75 ml-5rem" formControlName="password" name="password" placeholder="*********"
                  [ngClass]="{
                    'is-invalid border border-danger' : myForm.controls['password'].touched && myForm.controls['password'].invalid
                  }">
                  <div class="password-toggle-icon">
                    <span (click)="togglePasswordVisibility()">
                     <ng-container *ngIf="passwordFieldType === 'password'">
                       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                         <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                         <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                       </svg>
                     </ng-container>
                     <ng-container *ngIf="passwordFieldType === 'text'">
                       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                         <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                         <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                       </svg>
                     </ng-container>
                    </span>
                  </div>
                </div>
              </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Campo requerido',
              control: myForm.controls['password']
          }" 
            ></ng-container>
          </div>
          <div class="ms-2">
            <button type="submit" class="btn mt-3 p-2 text-black btn-outline-info w-75">Login</button>
            <div class="d-flex ml-5rem">
              <p class="fs-6 text-body-tertiary">¿Eres nuevo?</p>
              <a routerLink="register" (click)="onOption('register')"  class="fs-6 estilos-link-enlace ms-1">Crea una cuenta</a>
            </div>
          </div>
       </form> 
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation" let-param="params">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="form-error-container">
      <div class="fv-help-block"> 
        <span role="alert">{{message}}</span>
      </div>
    </div>
  </ng-container>
</ng-template>