<div class="container text-center">
    <div class="row mt-8rem">
      <div class="col">
        <img class="rounded img-fluid shadow bg-black h-75 w-100 img-create-user" src="../../../assets/img/crearUsuario.jpg" alt="EcommerceImagen">
        </div>
        <div class="col-5">
          <div class="mb-2">
            <h2 class="text-center">Crear cuenta</h2>
          </div>
          <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label mr-15rem estilos-font-awesome">Nombre</label>
            <input type="email" class="form-control w-75 ml-5rem" id="exampleFormControlInput1" placeholder="Nombre">
          </div>
          <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label mr-15rem estilos-font-awesome">Apellido</label>
            <input type="email" class="form-control w-75 ml-5rem" id="exampleFormControlInput1" placeholder="Apellido">
          </div>
          <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label mr-15rem estilos-font-awesome">Usuario</label>
            <input type="email" class="form-control w-75 ml-5rem" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label mr-15rem estilos-font-awesome">Contraseña</label>
            <input type="password" class="form-control w-75 ml-5rem" id="exampleFormControlInput1" placeholder="*********">
          </div>
          <select class="form-select form-control w-75 ml-5rem" aria-label="Small select example">
            <option selected disabled>Eligue un Rol</option>
            <option value="1">Comprador</option>
            <option value="2">Vendedor</option>
          </select>
          <div>
            <button type="button" class="btn mt-3 p-2 text-black btn-outline-info w-75">Crear cuenta</button>
            <div class="d-flex ml-5rem">
                <p class="fs-6 text-body-tertiary">¿Tienes cuenta?</p>
                <a routerLink="login" (click)="onOption('login')" class="fs-6 estilos-link-enlace ms-1">Inicia sessíon</a>
            </div>
        </div>
      </div>
    </div>
  </div>
