<nav class="navbar navbar-expand-lg estilos-navbar">
   <div class="w-100 row">
        <div class="col-4">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="d-flex justify-content-between ms-4 me-2 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ffffff" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                    </svg>
                </div> 
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-white estilos-link-navbar">Destacados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white estilos-link-navbar">+Vendidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white estilos-link-navbar">Ofertas</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white estilos-link-navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-">
            <form class="d-flex w-100" role="search">
                <input class="form-control cursor-pointer me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-collection-search" type="submit">Search</button>
            </form>
        </div> 
        <div class="col-2 d-flex justify-content-evenly align-items-center">
          <div class="dropdown ms-5">
            <button class="border-none estilos-navbar" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 16 16" width="26" height="26"><path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16Zm.847-8.145a2.502 2.502 0 1 0-1.694 0C5.471 8.261 4 9.775 4 11c0 .395.145.995 1 .995h6c.855 0 1-.6 1-.995 0-1.224-1.47-2.74-3.153-3.145Z"></path></svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item cursor-pointer">Perfil</a></li>
              <li><a class="dropdown-item cursor-pointer">Configuración</a></li>
              <li><a class="dropdown-item cursor-pointer" (click)="vender()">Vender</a></li>
              <li><a class="dropdown-item cursor-pointer">¿Preguntas frecuentes?</a></li>
              <li><a class="dropdown-item cursor-pointer">Opiniones</a></li>
              <li><hr class="dropdown-divider cursor-pointer"></li>
              <li><a class="dropdown-item cursor-pointer" (click)="logout()">Cerrar sesión</a></li>
            </ul>
          </div>
          <div class="dropdown me-5">
            <button class="border-none estilos-navbar" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" fill="#ffffff" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg>
            </button>
          </div>
        </div>
   </div> 
</nav>


